

<div class="slide-animate" ng-include src="'views/mixins/navbar.html'"></div>


<p class="info" ng-hide="{{cfg.message}}" ng-model="cfg.message"></p>

<table class="table table-stripped">
  <tr ng-repeat="voting in votings">
    <td>
      <h5>{{voting.name}}</h5>
      <p class="small">{{voting.desc}}</p>
      <form name="voteform" class="form-horizontal" role="form" ng-show="cfg.formForVoting == voting">

        <div ng-repeat="opt in voting.opts">
          <label>
            <input type="radio" name="voting{{voting.id}}" ng-model="voting.voted" value="{{opt.id}}">
            {{opt.name}}
            <a class="btn btn-small" ng-show="{{opt.url}}" href="{{opt.url}}">
              <span class="glyphicon glyphicon-share"></span>
            </a>
            <p ng-show="{{opt.desc}}">{{opt.desc}}</p>
          </label>
        </div>
        <button type="button" class="btn btn-primary" ng-click="doVote($event, voting);">
          <i class="icon icon-ok"></i> OK
        </button>
        <button type="button" class="btn" ng-click="cfg.formForVoting='';">Cancel</button>
      </form>
    </td>
    <td>
      <a class="btn btn-small" href="{{voting.url}}">
        <span class="glyphicon glyphicon-share"></span> detaily
      </a>
      <a class="btn btn-primary" ng-click="cfg.formForVoting = voting;">
        <span class="glyphicon glyphicon-comment"></span> Vote!
      </a>
    </td>
  </tr>
</table>
